@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Kumbh Sans';
  src: url('./assets/fonts/KumbhSans-Bold.woff2') format('woff2'),
    url('./assets/fonts/KumbhSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-Bold.woff2') format('woff2'),
    url('./assets/fonts/Inter-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-Medium.woff2') format('woff2'),
    url('./assets/fonts/Inter-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kumbh Sans';
  src: url('./assets/fonts/KumbhSans-Regular.woff2') format('woff2'),
    url('./assets/fonts/KumbhSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kumbh Sans';
  src: url('./assets/fonts/KumbhSans-Medium.woff2') format('woff2'),
    url('./assets/fonts/KumbhSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kumbh Sans';
  src: url('./assets/fonts/KumbhSans-SemiBold.woff2') format('woff2'),
    url('./assets/fonts/KumbhSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}



.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  overflow: hidden;
  font-family: "Inter", sans-serif;
  font-family: "Kumbh Sans", sans-serif;
}
::-webkit-scrollbar {
  display: none;
}

.active {
  background-color: #509CDB;
  color: #FFFFFF;
  font-weight: 600;
}

.navlink-image {
  display: none;
}

.active .navlink-image {
  display: block;
}

